.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  background-image: url("../assets/pokemonPage-image.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

.container h1 {
  font-size: 80px;
  margin: 0.5rem;
}

.loading {
  margin-top: 25rem;
}

.fail {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  margin: 5rem 0 0 4rem;
}

.win {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  border: solid 0.1rem;
  border-radius: 1rem;
  color: var(--secondary);
  font-size: 50px;
  font-weight: 700;
  margin: 5rem 0 1rem 9rem;
  width: 25vw;
}

.win span {
  text-align: center;
}

.container-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  margin-top: -3rem;
}

.btnPokemonPage {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 25px;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.points {
  display: grid;
  justify-items: center;
  width: 20rem;
  border: solid 0.1rem;
  border-radius: 2rem;
}

.points button {
  background-color: #cce3de;
  border-radius: 5px;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0.25rem;
  width: 9vw;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  padding: 0.5rem;
}

@media (min-width: 375px) {
  .container h1 {
    text-align: center;
    font-size: 30px;
  }

  .container-message {
    font-size: 20px;
  }

  .points {
    display: grid;
    justify-items: center;
    margin: -1rem 0 2rem 2.5rem;
  }

  .points button {
    width: 40vw;
    font-size: 18px;
  }

  .fail {
    font-size: 25px;
    font-weight: 700;
    margin: 5rem 0 2.5rem 0;
  }

  .win {
    font-size: 25px;
    margin: 5rem 0 1.5rem 4.5rem;
    width: 70vw;
  }

  .win span {
    text-align: center;
  }
}

@media (min-width: 412px) {
  .container h1 {
    text-align: center;
    font-size: 25px;
  }

  .container-message {
    font-size: 25px;
  }

  .points {
    display: grid;
    justify-items: center;
    margin: -5rem 0 2rem 3.5rem;
    width: 15rem;
  }

  .points button {
    width: 40vw;
    font-size: 18px;
  }

  .fail {
    font-size: 25px;
    font-weight: 700;
    margin: 2.5rem 0 7rem 0;
  }

  .win {
    font-size: 25px;
    margin: 0.5rem 0 6rem 2rem;
    width: 70vw;
  }
}

@media (min-width: 768px) {
  .container h1 {
    font-size: 60px;
    text-align: center;
  }

  .container-message {
    font-size: 45px;
  }

  .points {
    display: grid;
    justify-items: center;
    margin: -5rem 0 2rem 16.7rem;
    width: 15rem;
  }

  .points button {
    width: 20vw;
    font-size: 20px;
  }

  .fail {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    margin: 5rem 0 7rem 2rem;
  }

  .win {
    font-size: 25px;
    margin: 5rem 0 7rem 14rem;
    width: 40vw;
  }
}

@media (min-width: 1280px) {
  .container h1 {
    font-size: 60px;
    text-align: center;
  }

  .container-message {
    font-size: 50px;
  }

  .points {
    display: grid;
    justify-items: center;
    margin: 0 0 2rem 18rem;
  }

  .points button {
    width: 10vw;
    font-size: 20px;
  }

  .win {
    font-size: 50px;
    margin: 5rem 0 2rem 8rem;
    width: 40vw;
  }
}

@media (min-width: 1900px) {
  .points {
    display: grid;
    justify-items: center;
    margin: 0 0 2rem 16.8rem;
  }

  .points button {
    width: 8vw;
    font-size: 20px;
    margin-top: -0.8rem;
  }

  .win {
    font-size: 50px;
    margin: 5rem 0 2rem 6rem;
    width: 30vw;
  }
}
