.pokemon-container {
  height: 200px;
  position: relative;
}

.pokemon-container img {
  height: 17rem;
  position: absolute;
  left: 35rem;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;

  transform: translateX(-50%);
}
.hidden-pokemon {
  filter: brightness(0);
}

@media (min-width: 375px) {
  .pokemon-container img {
    height: 17rem;
    width: 12.5rem;
    left: 15rem;
  }
}

@media (min-width: 412px) {
  .pokemon-container img {
    height: 17rem;
    width: 12.5rem;
    left: 12rem;
    top: -1.5rem;
  }
}

@media (min-width: 768px) {
  .pokemon-container img {
    height: 17rem;
    left: 23.5rem;
    top: 0.25rem;
  }
}

@media (min-width: 1280px) {
  .pokemon-container img {
    left: 28rem;
  }
}

@media (min-width: 1900px) {
  .pokemon-container img {
    height: 15rem;
    width: 18rem;
    left: 24rem;
  }
}
